@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Open Sans', system-ui, sans-serif;
    scroll-behavior: smooth;
  }
}

.container {
  min-height: 100svh;
}

ul {
  list-style: none;
  gap: 3px;
}

li {
  margin-bottom: 7px;
}
