@import url('https://use.typekit.net/pjj1vlv.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'p22-mackinac-pro', system-ui, sans-serif;
  }
}

.container {
  min-height: 100svh;
}

ul {
  gap: 5px;
}

li {
  margin-bottom: 7px;
}
